/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&family=Poppins:wght@300&display=swap');

/* Override browser default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #2e2e2e;
    font-family: 'Poppins', sans-serif;
    background-color: lightblue;
}

/* Header */
header {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0 1rem;
    position: fixed;
    width: 100%;
    z-index: 99;
    /* horizontal offset, vertical offset (positive = below), blur, color */
    box-shadow: 0 1px 4px #2e2e2e;
    /* style for placing the hamburger icon to the right and aligned*/
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Laila', sans-serif;

}

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    text-transform: uppercase;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #2e2e2e;
}

/* Navbar toggle dropdown */
nav {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 1px 4px #2e2e2e;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0 1rem;
    width: 100%;
    /* Push footer down */
    flex: 1 0 auto;
    /* Let main content visible */
    margin-top: 47px;

    
}

/* Footer */
footer {
    background-color: rgb(0, 25, 67);
    color: rgb(255, 255, 255);
}