/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&family=Poppins:wght@300&display=swap');

/* Override browser default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #2e2e2e;
    font-family: 'Poppins', sans-serif;
}

/* Header */
header {
    background-color: rgba(46, 46, 46, 0);
    padding: 0 1rem;
    position: fixed;
    width: 98vw;
    height: 50px;
    z-index: 2;
    color: rgba(255, 255, 255, 0.8);
}

header a {
    text-decoration: none;
    color: inherit;
}

header a:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

h1,
h2 {
    font-family: 'Laila', sans-serif;
}

h2 {
    padding-bottom: 0.5em;
}

p {
    font-size: 1em;
}

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    text-align: right;
    text-transform: uppercase;
    list-style-type: none;
    color: rgba(255, 255, 255, 0.8);
}

/* Animation menu items */
.fade-effect-1 {
    animation: fadeAndMove 1s;
}

.fade-effect-2 {
    animation: fadeAndMove 2s;
}

.fade-effect-3 {
    animation: fadeAndMove 3s;
}

#menu>li {
    margin-bottom: 1em;
}

/* Navbar toggle dropdown */
nav {
    position: absolute;
    width: 100%;
    height: 45px;
    padding: 0 1rem;
    right: 0;
    top: 4rem;
    display: none;
    text-align: right;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    right: 0;
    padding: 0.5rem 1rem;
    font-size: 2rem;
}

/* Main content */
main {
    background-color: #ddd;
    /* Push footer down */
    flex: 1 0 auto;
    /* Main content visible */
    margin-top: 0px;
}

/* Hero */
#hero {
    /* Background image from Pexels by Nadia Chiesi */
    background: url('https://pernilla-strandberg.github.io/nano-reef-tank-creators-guide/assets/images/pexels-nadia-chiesi-6023997.jpg') no-repeat top right fixed;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 650px;
}

/* Hero Title */
#hero-title {
    font-size: 130%;
    position: fixed;
    left: 0;
    right: 0;
    padding: 10rem 1rem 2rem;
    color: rgba(255, 255, 255, 1);
    margin: 0 auto;
    max-width: 330px;
    display: block;
    animation: fadeIn 4s ease-in-out;
}

#hero-content {
    font-size: 120%;
    position: fixed;
    left: 0;
    right: 0;
    padding: 17rem 1rem 2rem;
    color: rgba(255, 255, 255, 1);
    margin: 0 auto;
    max-width: 330px;
    display: block;
    animation: fadeIn 6s ease-in-out;
}

/* Button */
.btn {
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 10px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(57, 2, 59, 0);
    text-decoration: none;
    padding: 18px 0;
    font-size: 1.1rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    /* Add transition effect to show arrow icon on button */
    transition: all 0.5s;
}

/* Button animated hoover effect, code partly from W3Schools: https://www.w3schools.com/howto/howto_css_animate_buttons.asp */
.btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn span:after {
    font: var(--fa-font-solid);
    content: "\f103";
    position: absolute;
    opacity: 0;
    top: 0.3rem;
    right: -20px;
    transition: 0.5s;
    align-items: center;
}

#buy .btn span:after,
#contact .btn span:after {
    font: var(--fa-font-solid);
    content: "\f1d8";
}

.btn:hover span {
    padding-right: 25px;
}

.btn:hover span:after {
    opacity: 1;
    right: 0;
}


/* Guide Sections */

/* A wrapper div to prevent guide sections to appear underneath hero section */
.section-wrapper {
    background-color: #ddd;
    position: relative;
    z-index: 2;
}

.section-container {
    margin: 0 auto;
    max-width: 1020px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 1rem;
    background-color: #FFF;
}

/* For putting the section down */
.section-top {
    position: relative;
    width: 100%;
    height: 3rem;
    background-color: #ddd;
    z-index: 3;
}

#plan {
    padding: 1rem;
    box-shadow: 0 1em 1em 1px #616161;
    margin-bottom: 3rem;
}

#plan .half-page-left>h2 {
    color: #760285;
}

/* 50/50 design on larger screens */

.half-page-left {
    flex: 100%;
    padding-bottom: 1rem;
}

.half-page-right {
    flex: 100%;
}

#plan .half-page-right ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 0.5rem;
}

#plan .half-page-right ul>li {
    display: block;
    min-height: 4rem;
    width: 100%;
    background-color: #760285;
    border-radius: 0.5rem;
    color: #FFF;
    padding: 1rem;
    flex: 100%;
    text-align: center;
}


.fa-pen-ruler {
    color: #760285;
    padding-right: 1rem;
}

#budget {
    background-color: #ddd;
    padding: 3rem;
    margin-bottom: 3rem;
    display: flex;
    align-items: flex-start;
}

.fa-sack-dollar {
    color: #3d1d32;
    padding-right: 1rem;
}

#budget img {
    width: 100%;
    padding-top: 1.5rem;
}

#budget p {
    color: #3d1d32;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

#budget h2 {
    color: #3d1d32;
}

#budget ul {
    list-style-type: circle;
    list-style-position: inside;
    color: #3d1d32;
}

#budget ul li span {
    font-weight: 700;
}

#buy {
    background-color: #760285;
    padding: 3rem;
    margin-bottom: 3rem;
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
    box-shadow: 0 1em 1em 1px #616161;
}

/* A note under the list */
p.note {
    font-style: oblique;
    font-size: smaller;
    padding-top: 1rem;
}

.fa-shopping-basket {
    color: #3d1d32;
    padding-right: 1rem;
}

#buy img {
    width: 100%;
    padding-top: 1.5rem;
}

#buy p {
    color: #ffd8f1;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

#buy h2 {
    color: #ffd8f1;
}

#buy ul {
    list-style-type: circle;
    list-style-position: inside;
    color: #ffd8f1;
}

#buy ul li span {
    font-weight: 700;
}

#buy input[type="checkbox"] {
    outline: 3px outset #ffd8f1;
    color: #ffd8f1;
}

#buy input[type=checkbox] {
    accent-color: #760285;
}

#buy label {
    color: #ffd8f1;
    padding-left: 1rem;
}

/* Styling of Setup section */

#setup {
    padding: 1rem;
    box-shadow: 0 1em 1em 1px #616161;
    margin-bottom: 3rem;
}

#setup .half-page-left>h2 {
    color: #760285;
}

#setup .half-page-right ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 0.5rem;
}

#setup .half-page-right ul>li {
    display: block;
    min-height: 4rem;
    width: 100%;
    background-color: #760285;
    border-radius: 0.5rem;
    color: #FFF;
    padding: 1rem;
    flex: 100%;
    text-align: center;
}

.fa-solid-rocket {
    color: #760285;
    padding-right: 1rem;
}

/* Footer */
.footer-wrapper {
    display: flex;
    align-items: stretch;
    max-width: 1020px;
    margin: 0 auto;
    justify-content: space-between;
}

/* Contact form */
#footer-contact {
    width: 30%;
    text-align: left;
    padding: 20px 0;
}

#footer-social-networks {
    justify-content: center;
    align-items: center;
    width: 50%;
    display: flex;
    flex-direction: row;
}

/* Social network icons */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    width: 100%;
    list-style-type: none;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    gap: 6rem;
}

#social-networks i {
    font-size: 180%;
    color: rgba(255, 255, 255, 0.8);
    padding: 5%;
}

/* Footer styling */
footer {
    background-color: #140733;
    color: rgb(255, 255, 255);
    width: 100%;
    margin: 0 auto;
    z-index: 1;
    padding: 2em;
}



/* Responsive layout small screens */
@media screen and (min-width: 250px) {

    /* Main content */
    #plan,
    #setup {
        padding: 2rem;
    }
}

/* Responsive layout medium screens */
@media screen and (min-width: 450px) {

    /* Main content */
    #plan .half-page-right ul>li {
        flex: 40%;
    }

    #setup .half-page-right ul>li {
        flex: 40%;
    }

}


/* Responsive layout tablets and larger */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        position: absolute;
        top: 1rem;
        right: 3rem;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        /* Horizontal alignment */
        display: flex;
        font-size: 130%;
    }

    #menu>li {
        padding-left: 2rem;
    }

    /* Reverse fading animation */
    .fade-effect-1 {
        animation: fadeAndMoveReverse 3s;
    }

    .fade-effect-2 {
        animation: fadeAndMoveReverse 2s;
    }

    .fade-effect-3 {
        animation: fadeAndMoveReverse 1s;
    }

    /* Main content */
    main {
        margin-top: 0px;
    }

    #hero-title {
        font-size: 180%;
        max-width: 420px;
        position: fixed;
        left: -10rem;
    }

    #hero-content {
        font-size: 140%;
        max-width: 420px;
        padding-top: 20rem;
        position: fixed;
        left: -10rem;
    }

    /* Styles for Guide sections */

    #plan,
    #setup {
        padding: 5rem;
    }

    #budget .half-page-left {
        flex: 40%;
    }

    #budget .half-page-right {
        flex: 40%;
    }

    #budget img {
        clip-path: circle(45%);
    }

    #buy .half-page-left {
        flex: 40%;
    }

    #buy .half-page-right {
        flex: 40%;
    }

    #buy img {
        width: 95%;
        clip-path: polygon(0% 0%, 65% 0%, 90% 50%, 65% 100%, 0% 100%);
        padding-top: 0;
    }

}

/* Responsive layout large devices */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    }

    #plan,
    #setup,
    #buy,
    #budget {
        padding: 6rem;
    }
}

/* Keyframes for transition effect */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    25% {
        transform: translateX(0px);
    }

    50% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}

/* Keyframes for transition effect on nav item */
@keyframes fadeAndMove {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    25% {
        transform: translateX(0px);
    }

    50% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeAndMoveReverse {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }

    25% {
        transform: translateX(0px);
    }

    50% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}