/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&family=Poppins:wght@300&display=swap');

/* Override browser default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #2e2e2e;
    font-family: 'Poppins', sans-serif;
}

/* Header */
header {
    background-color: rgba(46, 46, 46, 0);
    padding: 0 1rem;
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 99;
    color: rgba(255, 255, 255, 0.8);
}

header a {
    text-decoration: none;
    color: inherit;
}

header a:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

h1,
h2 {
    font-family: 'Laila', sans-serif;
}

h2 {
    padding-bottom: 0.5em;
}

p {
    font-size: 1em;
}

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    text-align: right;
    text-transform: uppercase;
    list-style-type: none;
    color: rgba(255, 255, 255, 0.8);
}

/* Animation menu items */
.fade-effect-1 {
    animation: fadeAndMove 1s;
}

.fade-effect-2 {
    animation: fadeAndMove 2s;
}

.fade-effect-3 {
    animation: fadeAndMove 3s;
}

#menu>li {
    margin-bottom: 1em;
}

/* Navbar toggle dropdown */
nav {
    position: absolute;
    width: 100%;
    height: 45px;
    padding: 0 1rem;
    right: 0;
    top: 4rem;
    display: none;
    text-align: right;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    right: 0;
    padding: 0.5rem 1rem;
    font-size: 2rem;
}

/* Main content */
main {
    background-color: rgba(189, 189, 189, 1);
    /* Push footer down */
    flex: 1 0 auto;
    /* Main content visible */
    margin-top: 0px;
}

/* Hero */
#hero {
    /* Background image from Pexels by Ivan Babydov */
    background: url("/assets/images/pexels-ivan-babydov-7787865.jpg") no-repeat top right fixed;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 600px;
}

/* Hero Title */
#hero-title {
    font-size: 130%;
    position: fixed;
    left: 0;
    right: 0;
    padding: 10rem 1rem 2rem;
    color: rgba(255, 255, 255, 1);
    margin: 0 auto;
    max-width: 330px;
    display: block;
    animation: fadeIn 4s ease-in-out;
}

#hero-content {
    font-size: 120%;
    position: fixed;
    left: 0;
    right: 0;
    padding: 17rem 1rem 2rem;
    color: rgba(255, 255, 255, 1);
    margin: 0 auto;
    max-width: 330px;
    display: block;
    animation: fadeIn 6s ease-in-out;
}

/* Button */
.btn {
    border: 1px solid #1e1e1ea6;
    border-radius: 10px;
    box-shadow: 4px 7px 10px 1px #1e1e1ea6;
    color: rgba(57, 2, 59, 1);
    background-color: #ebdfffcf;
    padding: 18px 0;
    font-size: 1.1rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    width:100%;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:1rem;
}

/* Guide Sections */

/* A wrapper div to prevent guide sections to appear underneath hero section */
.section-wrapper {
    position: relative;
    z-index: 9;
}

.section-container {
    margin: 0 auto;
    max-width: 1020px;
    display: block;
    padding-left: 1rem;
    background-color: #FFF;
}

#plan {}

#budget {}

#buy {}

#setup {}

/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    color: rgba(255, 255, 255, 0.8);
    padding: 5%;
}

footer {
    background-color: rgb(0, 25, 67);
    color: rgb(255, 255, 255);
}

/* Responsive layout tablets and larger */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        position: absolute;
        top: 1rem;
        right: 3rem;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        /* Horizontal alignment */
        display: flex;
        font-size: 130%;
    }

    #menu>li {
        padding-left: 2rem;
    }

    /* Reverse fading animation */
    .fade-effect-1 {
        animation: fadeAndMoveReverse 3s;
    }

    .fade-effect-2 {
        animation: fadeAndMoveReverse 2s;
    }

    .fade-effect-3 {
        animation: fadeAndMoveReverse 1s;
    }

    /* Main content */
    main {
        margin-top: 0px;
    }

    #hero-title {
        font-size: 180%;
        max-width: 420px;
        position: absolute;
        left: -10rem;
    }

    #hero-content {
        font-size: 140%;
        max-width: 420px;
        padding-top: 20rem;
        position: absolute;
        left: -10rem;
    }

    /* Responsive button */

    .btn {
        border: 2px solid black;
    }
}

/* Responsive layout large devices */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    }
}

/* Keyframes for transition effect */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    25% {
        transform: translateX(0px);
    }

    50% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}

/* Keyframes for transition effect on nav item */
@keyframes fadeAndMove {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    25% {
        transform: translateX(0px);
    }

    50% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeAndMoveReverse {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }

    25% {
        transform: translateX(0px);
    }

    50% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}